In [52]:
#importations
import tweepy
from tweepy import API
from tweepy import OAuthHandler
import pandas as pd
import matplotlib.pyplot as plt
import csv
from nltk.tokenize import RegexpTokenizer, WhitespaceTokenizer
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords
import string
from string import punctuation
import en_core_web_sm
from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [53]:
#definition des cl√©s
CONSUMER_KEY    = 'l0Ama9OIZYfUyJHWEo1TpDj0q'
CONSUMER_SECRET = 'l3AIIGLyHfbczO1bpSS5KQqXZ8sMthGQRn9MzoikigkRhJX3tP'
ACCESS_TOKEN  = '1328339246898434050-VkR8IxfpgSC4rLK37RbvADsdgAWpLd'
ACCESS_SECRET = 'nHLrrrzXDIdD3pEEH7kzlnu9A9e1essHJb9IhO7swMkK4'

#authentication
auth = OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)
#Configuration l'API importer de tweet
api = tweepy.API(auth,wait_on_rate_limit=True)

In [54]:
#stocker les tweets dans un fichier CSV
fichier ='tweets'+'.csv'
with open (fichier, 'w', newline='',encoding="utf-8") as File:
    FileTab = csv.writer(File)
    FileTab.writerow(['Id','Tweet','Nom'])
    for tweet in tweepy.Cursor(api.search, q='Politics', lang = 'en').items(3000):
        tweets_encoded = tweet.text.encode('utf-8')
        tweets_decoded = tweets_encoded.decode('utf-8')
        FileTab.writerow([tweet.id,tweets_decoded,tweet.user.name])
    for tweet in tweepy.Cursor(api.search, q='culture', lang = 'en').items(3500):
        tweets_encoded = tweet.text.encode('utf-8')
        tweets_decoded = tweets_encoded.decode('utf-8')
        FileTab.writerow([tweet.id,tweets_decoded,tweet.user.name])
    for tweet in tweepy.Cursor(api.search, q='sport', lang = 'en').items(3500):
        tweets_encoded = tweet.text.encode('utf-8')
        tweets_decoded = tweets_encoded.decode('utf-8')
        FileTab.writerow([tweet.id,tweets_decoded,tweet.user.name])

KeyboardInterrupt: ignored

In [5]:
fichierTweet = pd.read_csv('tweets.csv')

In [6]:
fichierTweet.head(1000)

                     Id  ...                                 Nom
0   1338528866197975041  ...                                ldec
1   1338528865979932672  ...                Shiva.Moonchild #BLM
2   1338528863039709189  ...                           RJBIII üò∑üè°
3   1338528862834188289  ...                       Robert Ropars
4   1338528862196666374  ...                          Kuntakinte
..                  ...  ...                                 ...
85  1338528741228732419  ...  Silverstone Sports Engineering Hub
86  1338528732139622402  ...                              gabe k
87  1338528724275367939  ...                            bekaerri
88  1338528715517542403  ...                                 AHS
89  1338528714943057921  ...                         Chris Waugh

[90 rows x 3 columns]

In [7]:
## nettoyage des Tweets

In [8]:
import re
def clean_text(df,nom , tweet):
    df[tweet] = df[tweet].str.lower()
    df[tweet] = df[tweet].apply(lambda x: re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|""|^rt|http.+?|([0-9])", "", x))

    
    df[nom] = df[nom].str.lower()
    df[nom] = df[nom].apply(lambda x: re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|""|^rt|http.+?|([0-9])", "", x))
    return df

clean_tweets = clean_text(fichierTweet, 'Nom','Tweet')
clean_tweets.head(20)

                     Id  ...                                     Nom
0   1338528866197975041  ...                                    ldec
1   1338528865979932672  ...                      shivamoonchild blm
2   1338528863039709189  ...                                 rjbiii
3   1338528862834188289  ...                           robert ropars
4   1338528862196666374  ...                              kuntakinte
5   1338528860267155456  ...                          whiplash curve
6   1338528859310866441  ...
7   1338528858660892674  ...        karrie    krakenreleased djt won
8   1338528858652504066  ...                      larsfbrnew account
9   1338528857725390848  ...                        lynnemarie olson
10  1338528856140079111  ...                    nuevos horizontes uk
11  1338528855858933765  ...            inara everleigh  sf bay area
12  1338528853829029893  ...                        robert fernandez
13  1338528853564796928  ...                            susie mesure
14  1338528852939825154  ...                          happywheel2001
15  1338528852453232645  ...  david were going to lose our nhs blake
16  1338528851572514818  ...                            matt maestas
17  1338528850351939587  ...                         gregory shelton
18  1338528849387261952  ...                          joseph spector
19  1338528844081410049  ...                                   belle

[20 rows x 3 columns]

In [9]:
nlp = en_core_web_sm.load()
tokenizer = RegexpTokenizer(r'\w+')
lemmatizer = WordNetLemmatizer()
stop = set(stopwords.words('english'))
punctuation = list(string.punctuation)
stop.update(punctuation)
w_tokenizer = WhitespaceTokenizer()

# clean the set of words
            
def furnished(text):
    final_text = []
    for i in text.split():
        if i.lower() not in stop:
            word = lemmatizer.lemmatize(i)
            final_text.append(word.lower())
    return " ".join(final_text)

In [10]:
mots_Politics = ''' government diplomatic law political aristotle politics diplomatical governance republic public administration
politician smooth suave state local government expedient sagacious police election political monarchy parliament dukes sovereign state
polity regime democratic ethics communism federation anarchism authoritarianism populism bland aristocracy tribe power negotiation
force warfare city clans tribes company country plato confucius latin kingship earls politically counts tribute lordship property inheritance
confiscation individualist allegiance espionage conspiracy treason jewish gentile convention observance celibacy pope taxation petition legislation majority
collegial permeates greek language flabby permeating communication commerce  governmental pervades permeated abstract straitjacket justice myopic
discernment curfew consciences revenue pervading pervade matriarchal numbed juridical rightness unaccountable clannish civilised transfigured deliberative
monopoly fatness paternalis mmonkish coin principle sinfulness perverted morass lawmaking'''

In [11]:
mots_Sport = '''racing competition athletics spectator sport game gymnastics basketball team sportsman cycling fun skating tennis soccer leisure football 
athletic games baseball sportswoman position play disport lark boast mutation frolic skylark romp gambol mutant feature  rugby union 
frisk cavort rollick offside call referee champion skiing riding ski rowing netball diversion coach athlete hockey athletes
entertainment olympic coaches polo outdoor sport team sport professional football business lead playing golftelevision chess
running go sportsperson sports sportaccord competitive club race gym youth challenge teams track super pleasure class event exercise
venue activity standards fitness son variation summercater tournament playoffs athleticism dexterity sumo line occupation wipeout
flip pass toss recreation aquatics row archery sledding equitation shot stroke foul possession judo save tuck shooter timekeeper
timer deficit average bout round turn surge seed curl start field shoot umpire drop down bandy submarine kick punt drive
racket carry dribble cut box hike mountaineer rappel backpack pack skate skateboard sled sleigh bob bobsled luge toboggan
scull canoe kayak paddle surf surfboard jackknife snorkel hurdle loose legal disqualified home away ineligible defending
onside underarm underhand underhanded overhand upfield humor humour wit witticism jocularity clowning comedy draughts
tradition goal funambulism birling logrollingoutclass double-team '''

In [12]:
mots_culture  = '''
society civilization philosophy anthropology subculture acculturation religion cultivation nationalism counterculture
cultural ideology art popular folklore agriculture country writing music monoculture cyberculture language
anthropology cooking literature science growth tillage grow ritual perfection development metaphor concept
symbol mythology gender tradition archaeology clothing traditions traditional western culture contemporary
multiculturalism elite politics ethnicity heritage sociology modernity spirituality marxism ethos nationality
humanism romanticism finish polish refinement civilisation traditionalism genetics human learning interaction kinship heredity
marriage dance technology shelter growing biology starter viticulture discernment content maturation appreciation ontogeny
archeology attitude taste letters institutions humanities acculturate jewelry flawlessness perceptiveness ontogenesis
viniculture meme modern capitalism clothes cultures social intellectual especially nature religious rooted
context cicero societies popular history literary roots important geography historical
folk particular origins phenomenon teleology ancient aspects perspective particularly rousseau architecture life inspired
liberalism influence landscape flourishing urban circles everyday refers foremost ideas aesthetics thriving indigenous
peoples such famous example known chinese describe nowadays community style knowledge unique prevalent describes environment classical
 today common originv interests great behavioral modernity most besides well beliefs importance emphasis kind understanding
themes genre regarded '''

In [13]:
politique = furnished(mots_Politics)
sport = furnished(mots_Sport)
culture = furnished(mots_culture)

In [14]:
##victoriser

In [15]:
'''Vectoriser les ensembles de mots, puis les standardiser. TFIDF sera utilis√© afin de prendre en charge le moins
mots fr√©quents. La standardisation est parce que TFIDF favorise les phrases longues et il y aura des incoh√©rences entre la longueur
des tweets et de la longueur des mots.'''


def get_vectors(*strs):
    text = [t for t in strs]
    vectorizer = TfidfVectorizer(text)
    vectorizer.fit(text)
    return vectorizer.transform(text).toarray()

In [16]:
vecteur_Politics = get_vectors(politique)
vecteur_Politics = get_vectors(sport)
vecteur_Politics = get_vectors(culture)

In [17]:
vecteur_Politics

array([[0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.14704292, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.14704292, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.14704292,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.14704292, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.14704292, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.14704292, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146, 0.07352146, 0.07352146, 0.07352146,
        0.07352146, 0.07352146]])

In [18]:

from scipy import stats
## Vectorizing the tweets
tv=TfidfVectorizer()
# tweets_bowl = tweets_bowl.tweets.apply(get_vectors)
# tweets_bowl.head()
tfidf_tweets =tv.fit_transform(fichierTweet.Tweet)
tfidf_tweets =tv.fit_transform(fichierTweet.Nom)

In [29]:
'''La similitude Jaccard est bonne pour les cas o√π la duplication n'a pas d'importance,
La similitude cosinus est bonne pour les cas o√π la duplication est importante lors de l'analyse de la similitude du texte. Pour deux descriptions de produits,
il vaudra mieux utiliser la similitude de Jaccard car la r√©p√©tition d'un mot ne r√©duit pas leur similitude.'''

def jaccard_similarity(query, document):
    intersection = set(query).intersection(set(document))
    union = set(query).union(set(document))
    return len(intersection)/len(union)
# jaccard_score(socialvector, economic_vector)

#for similarity of 1 and 2 of column1
# jaccard_similarity('dog lion a dog','dog is cat')


def get_scores(group,tweets):
    scores = []
    for tweet in tweets:
        s = jaccard_similarity(group, tweet)
        scores.append(s)
    return scores

In [30]:
Score_Politics = get_scores(politique,fichierTweet.Tweet.to_list())
Score_Politics[-15:]

[0.8148148148148148,
 0.88,
 0.7307692307692307,
 0.8076923076923077,
 0.88,
 0.88,
 0.6896551724137931,
 0.76,
 0.56,
 0.92,
 0.92,
 0.88,
 0.88,
 0.76,
 0.8148148148148148]

In [31]:
Score_Sport = get_scores(sport,fichierTweet.Tweet.to_list())
Score_Sport[-15:]

[0.7586206896551724,
 0.8148148148148148,
 0.6785714285714286,
 0.75,
 0.8148148148148148,
 0.8148148148148148,
 0.7,
 0.7037037037037037,
 0.5185185185185185,
 0.8518518518518519,
 0.8518518518518519,
 0.8148148148148148,
 0.8148148148148148,
 0.7037037037037037,
 0.7586206896551724]

In [32]:
Score_Culture = get_scores(culture,fichierTweet.Tweet.to_list())
Score_Culture[-15:]

[0.7586206896551724,
 0.8148148148148148,
 0.7407407407407407,
 0.75,
 0.8148148148148148,
 0.8148148148148148,
 0.7,
 0.7037037037037037,
 0.5185185185185185,
 0.8518518518518519,
 0.8518518518518519,
 0.8148148148148148,
 0.8148148148148148,
 0.7037037037037037,
 0.7586206896551724]

In [33]:
Nom_List=fichierTweet.Nom.to_list()

In [34]:
''''nouveau df avec les noms et les scores jaccard pour chaque groupe'''

data  = {'nom':Nom_List,'politique': Score_Politics, 'sport': Score_Sport, 'culture':Score_Culture}
scores_df = pd.DataFrame(data)
scores_df.head(20)

                                       nom  politique     sport   culture
0                                     ldec   0.920000  0.851852  0.851852
1                       shivamoonchild blm   0.851852  0.793103  0.793103
2                                  rjbiii    0.880000  0.814815  0.814815
3                            robert ropars   0.880000  0.814815  0.814815
4                               kuntakinte   0.840000  0.777778  0.777778
5                           whiplash curve   0.840000  0.777778  0.777778
6                                            0.884615  0.821429  0.821429
7         karrie    krakenreleased djt won   0.880000  0.814815  0.814815
8                       larsfbrnew account   0.800000  0.740741  0.740741
9                         lynnemarie olson   0.720000  0.666667  0.666667
10                    nuevos horizontes uk   0.920000  0.851852  0.851852
11            inara everleigh  sf bay area   0.280000  0.259259  0.259259
12                        robert fernandez   0.884615  0.821429  0.888889
13                            susie mesure   0.920000  0.851852  0.851852
14                          happywheel2001   0.800000  0.740741  0.740741
15  david were going to lose our nhs blake   0.880000  0.814815  0.814815
16                            matt maestas   0.760000  0.703704  0.703704
17                         gregory shelton   0.851852  0.793103  0.793103
18                          joseph spector   0.600000  0.555556  0.555556
19                                   belle   0.720000  0.666667  0.666667

In [35]:

'''Actual assigning of classes to the tweets'''

def get_clusters(l1, l2, l3):
    pol = []
    sp = []
    cul = []
    for i, j, k in zip(l1, l2, l3):
        m = max(i, j, k)
        if m == i:
            pol.append(1)
        else:
            pol.append(0)
        if m == j:
            sp.append(1)
        else:
            sp.append(0)        
        if m == k:
            cul.append(1)
        else:
            cul.append(0)              
    return pol, sp, cul,

In [37]:
l1 = scores_df.politique.to_list()
l2 = scores_df.sport.to_list()
l3 = scores_df.culture.to_list()

pol, sp, cul = get_clusters(l1, l2, l3)

In [41]:
data = {'nom': Nom_List, 'politique':pol, 'sport':sp, 'culture':cul}
cluster_df = pd.DataFrame(data)
cluster_df.head(20)

                                       nom  politique  sport  culture
0                                     ldec          1      0        0
1                       shivamoonchild blm          1      0        0
2                                  rjbiii           1      0        0
3                            robert ropars          1      0        0
4                               kuntakinte          1      0        0
5                           whiplash curve          1      0        0
6                                                   1      0        0
7         karrie    krakenreleased djt won          1      0        0
8                       larsfbrnew account          1      0        0
9                         lynnemarie olson          1      0        0
10                    nuevos horizontes uk          1      0        0
11            inara everleigh  sf bay area          1      0        0
12                        robert fernandez          0      0        1
13                            susie mesure          1      0        0
14                          happywheel2001          1      0        0
15  david were going to lose our nhs blake          1      0        0
16                            matt maestas          1      0        0
17                         gregory shelton          1      0        0
18                          joseph spector          1      0        0
19                                   belle          1      0        0

In [44]:
'''En raison de la similitude √©troite entre les tweets √©conomiques, sociaux et sanitaires, certains tweets ont plusieurs cat√©gories,
donc pour faire attention que les lignes avec une somme> 1 devront partager les cat√©gories. Apr√®s cela, le clustering prendra soin
des fractions '''


a =  cluster_df[['politique', 'sport', 'culture']].sum(axis = 1) > 1
c = cluster_df[['politique', 'sport', 'culture']].sum(axis = 1)
cluster_df.loc[(a), ['politique', 'sport', 'culture']] = 1/c

In [45]:
cluster_df.shape

(90, 4)

In [46]:
#  Clustered DF

In [48]:
pivot_clusters = cluster_df.groupby(['nom']).sum()
pivot_clusters['politique'] = pivot_clusters['politique'].astype(int)
pivot_clusters['sport'] = pivot_clusters['sport'].astype(int)
pivot_clusters['culture'] = pivot_clusters['culture'].astype(int)
pivot_clusters['total'] = pivot_clusters['politique'] + pivot_clusters['sport'] + pivot_clusters['culture']
pivot_clusters.loc["Total"] = pivot_clusters.sum()  #add a totals row
print(pivot_clusters.shape)
pivot_clusters.tail()

(87, 4)

                          politique  sport  culture  total
nom
val  studying for finals          1      0        0      1
whiplash curve                    1      0        0      1
william mcdonald                  1      0        0      1
zaphod beeblebrox                 1      0        0      1
Total                            85      0        3     88